* {
    box-sizing: border-box;
}

body {
    background-color: #f29dd9;
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
    margin: auto 30px;
}